$borderColor: rgb(224, 224, 224);
$lightBlueBg: rgb(223, 247, 255);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.one {
  background-color: white;
  position: relative;
}

.chatBody {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  height: 100vh;
}

.bufferZone {
  // "bufferZone" space between content and button
  height: 6rem;
}

.chatInput {
  position: fixed;
  bottom: 0;
  width: 100%;
  color: rgb(100, 92, 92);
  background-color: rgb(255, 255, 255);
  padding: 0.625rem 0.312rem;
  display: flex;

  .inputBox {
    flex: 1;
    margin-right: 0.8rem;
  }

  .button {
    flex: 1;
  }
}
@media only screen and (max-width: (938*0.0625)rem) {
  .bufferZone {
    height: 1rem;
  }
  .button {
    bottom: 0;
    right: 0;
  }
}
