$borderColor: rgb(224, 224, 224);

.header {
  display: flex;
  justify-content: space-between;
  padding: 0.625rem;
  border: solid $borderColor;
  border-width: 0.125rem 0 0.0625rem;
  .header_name {
    color: rgb(159, 193, 255);
    font-size: 1rem;
    font-weight: bold;
  }
}
