@import '../../../theme/component.scss';

.card {
  box-shadow: 0 0.125rem 0.5rem 0 rgba(0, 0, 0, 0.2);
  margin: 0.4em;
  .body {
    display: flex;
    .midContent {
      margin-left: 1rem;
    }
    .toInline {
      display: flex;
      .name {
        margin-right: 0.4rem;
        font-size: 0.75rem;
        font-weight: bold;
      }
    }
  }
  .time {
    color: #9b9b9b;
    font-size: 0.6rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .radioButton {
    flex: 1;
    display: flex;
    justify-content: center;
    align-self: center;
  }
}
